{
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "typescript"
  ],
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "globals": {
    "angular": true,
    "_": true,
    "Jimp": true,
    "moment": true
  },
  "rules": {
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "no-unused-vars": "off",
    "import/no-unresolved": "off",
    "no-undef": "off",
    "no-useless-constructor": "off",
    "no-empty-function": "off",
    "no-param-reassign": "off",
    "no-unused-expressions": "off",
    "class-methods-use-this": "off",
    "no-plusplus": "off",
    "func-names": "off",
    "no-nested-ternary": "off",
    "no-bitwise": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "no-restricted-syntax": "off",
    "no-loop-func": "off",
    "no-await-in-loop": "off"
  }
}